<!DOCTYPE html>
<html>
  <head>
    <style>
      p {
        font-size: 17px;
        text-align: center;
        font-weight: bold;
        font-family: Arial;
      }

      h1 {
        font-size: 60px;
        text-align: center;
        color: red;
        font-family: Arial;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <title>Error</title>

  <body>
    <header>
      <h1>The file is not found</h1>
      <h1>404</h1>
      
      <p>Fayez Backleh 1190216</p>
      <p>Nicola Abu Shaibeh 1190843</p>
      <h2>SERVER_HOST = '0.0.0.0'</h2>
    </header>
  </body>
</html>
