<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/Static/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENCS3320-Simple Webserver</title>
  </head>
  <body>
    <header>
      <h1>COMPUTER NETWORKS</h1>
    </header>
    <section class="banner">
      <img src="3.jpg" alt="banner" />
      <div class="welcome">
        <h2>Welcome to <br /><span>Computer Networks</span></h2>
      </div>
    </section>
    <nav class="main-nav">
      <ul>
        <li><a href="#nicola">Nicola Abu Shaibeh</a></li>
      </ul>
    </nav>
    <main>
      <ul class="images">
        <li><img src="1.jpg" alt="img1" /></li>
        <li><img src="2.jpg" alt="img2" /></li>
      </ul>
      <article id="nicola">
        <h2>Nicola Abu Shaibeh</h2>
        <p>
          Project That I have done : <br />
          Data structure and algorithms projects <br />
          Text-Message-Encryption-and-Decryption
        </p>
        <p>
          Some of my skills : <br />
          Time Management <br />
          The ability to learn Quickly <br />
          Perseverance and self-learning <br />Problem Solving
        </p>
      </article>
      <br /><br />
      <hr />
      </article>
    </main>
    <form method="get" action="https://www.w3schools.com/tags/att_img_src.asp">
      <button class="button-58" role="button" type="submit">HTML img src Attribute</button>
    </form>
  </body>
</html>
